@model OOP.Models.ApplicationUser
@{
    ViewBag.Title = "ConfirmDelete";
}

<h2>ConfirmDelete</h2>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ankieta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("id", Model.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" id="deleteBtn" /> |
            @Html.ActionLink("Back to List", "DeleteAccount")
        </div>
    }
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        document.getElementById("deleteBtn").addEventListener("click", function () {
            Toastify({
                text: "User deleted successfully!",
                duration: 1000,
                backgroundColor: "#4CAF50",
                className: "info",
                style: {
                    textAlign: "center"
                }
            }).showToast();
        });
    </script>
}
