@model OOP.Models.KomisjaViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Komisja</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.KomisjaName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KomisjaName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KomisjaName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KomisjaType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.KomisjaType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KomisjaType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedPracownicyIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.SelectedPracownicyIds)
                @Html.ValidationMessageFor(model => model.SelectedPracownicyIds, "", new { @class = "text-danger" })
                @Html.DropDownList("PracownikID", (SelectList)ViewBag.Pracownicy, "Wybierz pracownika", new { @class = "form-control" })
            </div>
        </div>

        <ul id="listaPracownikow"></ul>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#PracownikID').change(function () {
                var selectedId = $(this).val();
                var hiddenField = $('#SelectedPracownicyIds');
                var selectedPracownik = $(this).find('option:selected').text();
                var listaPracownikow = $('#listaPracownikow');

                if (hiddenField.val().indexOf(selectedId) === -1) {
                    hiddenField.val(hiddenField.val() + (hiddenField.val() ? ',' : '') + selectedId);
                }

                if (listaPracownikow.find('li:contains("' + selectedPracownik + '")').length == 0) {
                    listaPracownikow.append('<li>' + selectedPracownik + '<button type="button" class="remove-pracownik btn btn-danger btn-sm ml-2">Usuń</button></li>');
                }
            });

            $(document).on('click', '.remove-pracownik', function () {
                var listItem = $(this).parent();
                var pracownikName = listItem.text().trim();
                var hiddenField = $('#SelectedPracownicyIds');
                var pracownikId = $(this).prev().val();

                listItem.remove();

                var selectedIdsArray = hiddenField.val().split(',').filter(function (id) {
                    return id !== pracownikId;
                });

                hiddenField.val(selectedIdsArray.join(','));
            });
        });

        $('form').submit(function () {
            Toastify({
                text: "Komisja utworzona pomyślnie!",
                duration: 1000,
                backgroundColor: "#4CAF50",
                className: "info",
                style: {
                    textAlign: "center"
                }
            }).showToast();
            return true;
        });
    </script>
}
