@model OOP.Models.Komisja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Komisja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KomisjaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomisjaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomisjaType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomisjaType)
        </dd>

    </dl>
</div>
<h4>Pracownicy</h4>
@if (Model.Pracowniks != null && Model.Pracowniks.Any())
{
    <ul>
        @foreach (var pracownik in Model.Pracowniks)
        {
            <li>@pracownik.Tytul @pracownik.Imie @pracownik.Nazwisko </li>
        }
    </ul>
}
else
{
    <p>Brak pracowników przypisanych do tej komisji.</p>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KomisjaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
