@model OOP.Models.Schemat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
    ViewBag.UseSpecialNavbar = true;
}

<h2>Details</h2>

<div>
    <h4>Schemat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dzial.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dzial.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOrganizational)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOrganizational)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SchematID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
