@model IEnumerable<OOP.Models.Schemat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
    ViewBag.UseSpecialNavbar = true;
}


<p>
    @Html.ActionLink("Utwórz nowe pole", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
           Nazwa działu
        </th>
        <th>
           Treść
        </th>
        <th>
            Punkty
        </th>
        <th>
           Czy organizacyjne
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dzial.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOrganizational)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.SchematID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.SchematID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.SchematID })
        </td>
    </tr>
}

</table>
