@model IEnumerable<OOP.Models.Osiagniecie>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
    ViewBag.UseSpecialNavbar = true;
}
<h2>Lista osiągnięć</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            Szczegóły
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Szczegoly)
            </td>
        </tr>
    }

</table>