@model OOP.Models.Pracownik

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
    ViewBag.UseSpecialNavbar = true;

}

<h2>Details</h2>

<div>
    <h4>Pracownik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stopien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stopien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumerTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumerTelefonu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrzelozonyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrzelozonyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.PracownikID }) |
    @Html.ActionLink("Powrót", "Index")
</p>
