@model OOP.Models.Osiagniecie

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
    ViewBag.UseSpecialNavbar = true;
}

<h2>Usuwanie</h2>

<h3>Czy na pewno chcesz to usunąć?</h3>
<div>
    <h4>Osiagniecie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dzial.Nazwa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dzial.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pracownik.Imie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pracownik.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Szczegoly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Szczegoly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" id="deleteOsiagniecieBtn" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        document.getElementById("deleteOsiagniecieBtn").addEventListener("click", function () {
            Toastify({
                text: "Osiągnięcie zostało usunięte!",
                duration: 1000,
                backgroundColor: "#f44336",
                className: "info",
                style: {
                    textAlign: "center"
                }
            }).showToast();
        });
    </script>
}
